<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class = "ion-text-center">
      Calculadora de IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-input aria-label="Custom input" label="Number input" label="Peso" [(ngModel)] = "weigth" labelPlacement="floating" fill="solid" placeholder=""></ion-input>
  </ion-item>
  <br>
  <ion-item class = "custom-item-altura">
    <ion-input label="Number input" label="Altura" [(ngModel)] = "heigth" placeholder="Custom input" class = "custom-input-altura" labelPlacement="floating"  placeholder=""></ion-input>
  </ion-item>
  <ion-fab slot="fixed" horizontal="end" vertical="top" style="bottom: -40px;">
    <ion-fab-button (click)="onCalculate()">
      <ion-icon name="calculator-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-list>
</ion-content>
