.custom-title {
  text-align: center;
}

.custom-input-peso {
  height: 100;
  width: 100;
  background-color: aquamarine;
}

.custom-item-altura{
  height: 10;
  width: 10;
}

.custom-input-altura{
  height: 10;
  width: 10;
  background-color: aquamarine;
}