<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class = "ion-text-center">
      Calculadora de IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list class="custom-ion-list">
  
  <ion-item>
    <ion-input type="number" label="Peso" [(ngModel)] = "weigth" labelPlacement="floating"  class = "custom-peso" fill="solid" placeholder=""></ion-input>
  </ion-item>
  
  <br>

  <ion-item>
    <ion-input type="number" label="Altura" [(ngModel)] = "heigth" placeholder="Custom input" class = "custom-altura" labelPlacement="floating" fill="solid"  placeholder=""></ion-input>
  </ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center" class="custom-buttom">
    <ion-fab-button (click)="onCalculate()">
      <ion-icon name="calculator-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class ="custom-ion-card">
    <ion-card-content [ngClass]="imcClass">
      {{ imc }}
    </ion-card-content>
  </ion-card>

</ion-list>
</ion-content>
